 
.wrapper h1{
    text-align: center;
}
.wrapper1 li{
  margin-left: 730px;
}
.wrapper2 li{
    margin-left: 708px;
  }
  .wrapper3 li{
    margin-left: 860px;
  }
  .wrapper4 li{
    margin-left: 820px;
  }
.wrapper p{
    margin-left: 643px;
}
.row{
  margin-left: 110px;
}
 